

 <%- include("partials/header") %>
 <h1>Contact</h1>
 <p ><%= contactContent %> Feel free to connect with me : </p>
 <p> vidhu.v9@gmail.com</p>

 <a href="www.linkedin.com/in/vidhunsut/" target="_blank">
 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/1200px-Linkedin.svg.png" style="width: 40px;" />
</a>

 <%- include("partials/footer") %>
 